@{
    ViewData["Title"] = "WebAnalytics";
}
<div class="text-center">
<h1>@ViewData["Title"]</h1>
</div>

<div>
    <div>
        <iframe src="http://localhost:3000/d-solo/8AwBpU0Vz/webanalyticsdashboard-pageview?orgId=1&from=1657865735033&to=1657874513429&theme=light&panelId=3" style="width:100%; height:90px" frameborder="0"></iframe>
    </div>
    <div>
        <iframe src="http://localhost:3000/d-solo/8AwBpU0Vz/webanalyticsdashboard-pageview?orgId=1&from=1657865735033&to=1657874513429&theme=light&panelId=5" style="width:100%; height:280px" frameborder="0"></iframe>
    </div>
    <div>
        <iframe src="http://localhost:3000/d-solo/8AwBpU0Vz/webanalyticsdashboard-pageview?orgId=1&from=1657865735033&to=1657874513429&theme=light&panelId=1" style="width:100%; height:350px" frameborder="0"></iframe>
    </div>
</div>


